
<article class="blog-post">
    <h2>Financial Planner app</h2>
    <p>
        Welcome to the Financial Planner app. Please note that this is my first app,
        so bugs are inevitable.
    </p>
    <p>
        The app differs from others in the following way: you plan your yearly
        expenses. You don’t log what has already been paid or track small everyday expenses
        like coffee or minor purchases. Instead, you define recurring expenses, select the
        months in which they will occur, and assign them to a bank account.
    </p>
    <p>
        This app has three types of users, each with an account containing
        personal data. However, users do not have a personal account in the traditional sense
        (with the ability to change passwords, etc.). Data entered by one user will not be
        visible to another.
    </p>
    <p>
        A user can see and work with Yearly Expenses and Monthly Budget.
        The Admin can see and manage Roles and Users. The Admin can also see the Yearly
        Expenses and Monthly Budget, but not the information stored within them.
    </p>
    <p>
        To try it out, use <span class="fw-bold">PetrNovak</span> and <span class="fw-bold">BlankaNovotna</span> as user names,
        and <span class="fw-bold">BigSef</span> as the admin. The <span class="fw-bold">password</span> consists of the first four letters of the alphabet,
        with the first letter capitalized, followed by the first four digits, starting with one,
        and ending with a dot.
    </p>
</article>